<div class="row post-container" style="margin-top: 2em;">
  <div class="col-12" style="margin: auto; margin-top: 2em; margin-bottom: 2em;">
    <div style="display: flex; align-items: center;">
      <h2 style="margin-right: auto;">Sign up</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <br>
      <% if resource.errors.any? %>
        <strong class="text-danger">All form fields are required</strong> 

      <% end %>
      <br>

      <div class="field <%= 'field_with_errors' if f.object.errors.include?(:name) %>">
        <%= f.label :name %> <span class="text-danger"></span><br>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Username" %>
        <% if f.object.errors.include?(:name) %>
          <div class="text-danger"><%= f.object.errors[:name].first %></div>
        <% end %>
      </div>
      <br>

      <div class="field <%= 'field_with_errors' if f.object.errors.include?(:email) %>">
        <%= f.label :email %> <span class="text-danger"></span><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@example.com" %>
        <% if f.object.errors.include?(:email) %>
          <div class="text-danger"><%= f.object.errors[:email].first %></div>
        <% end %>
      </div>
      <br>

      <div class="field <%= 'field_with_errors' if f.object.errors.include?(:password) %>">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %> <span class="text-danger"></span><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if f.object.errors.include?(:password) %>
          <div class="text-danger"><%= f.object.errors[:password].first %></div>
        <% end %>
      </div>

      <div class="field <%= 'field_with_errors' if f.object.errors.include?(:password_confirmation) %>">
        <%= f.label :password_confirmation %> <span class="text-danger"></span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        <% if f.object.errors.include?(:password_confirmation) %>
          <div class="text-danger"><%= f.object.errors[:password_confirmation].first %></div>
        <% end %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary col-12" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>